# Основы Pandas

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [4]:
ratings = pd.read_csv("ratings.csv")
moviesFive = ratings[ratings.rating == 5]
moviesFive["movieId"].value_counts().head(1)

318    153
Name: movieId, dtype: int64

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [1]:
import pandas as pd

In [2]:
power=pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [3]:
filtered_countries = power[(power['country']=='Estonia') | (power['country']=='Lithuania') | (power['country']=='Latvia') ]
filtered_countries.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [4]:
fc=filtered_countries[(filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) & (filtered_countries['year']<2010) & (filtered_countries['year']>2005)]

In [6]:
print('Количество потребления равно {}КВт'.format(fc['quantity'].sum()))

Количество потребления равно 165867.0КВт

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
import pandas as pd

In [12]:
import requests

In [13]:
url = 'https://fortrader.org/quotes'

In [14]:
df = pd.read_html(requests.get(url).text, encoding='utf-8', header=0) 
df

[                           Название   Цена  Изменение  Изменение(%)  Обновлено
 0  EURRUB Курс евро к рублю сегодня  86.65       -4.5         -4.94        NaN
 1       USDRUB Курс рубля к доллару  73.13       -4.1         -5.31        NaN,
                            Название      Цена  Изменение  Изменение(%)  \
 0  Нефть (BRENT) Курс нефти сегодня     40.12      -0.98         -2.38
 1   Нефть (WTI) Цены на нефть (WTI)     37.82      -1.04         -2.68
 2          Сахар котировки на сахар     12.61      -1.33         -9.54
 3                   Газ Цена на газ      3.00      -0.02         -0.56
 4                             Какао  2 390.00     -62.00         -2.53
 5                              Кофе    106.00      -0.95         -0.89
 6                          Кукуруза    407.40      -8.20         -1.97
 7                               Соя    376.60      -6.90         -1.80
 8                            Хлопок     71.71      -0.32         -0.44

    Обновлено
 0        NaN
 1        NaN
 2        NaN
 3        NaN
 4        NaN
 5        NaN
 6        NaN
 7        NaN
 8        NaN  ,
                       Название   Цена  Изменение  Изменение(%)  Обновлено
 0      Серебро Цена на серебро  24.06      -0.25         -1.03        NaN
 1    Палладий Цена на Палладий  2 285     -55.00         -2.00        NaN
 2  Золото Цена золота на бирже  1 894     -14.00         -1.00        NaN
 3      Платина Цены на платину    874      -6.00         -1.00        NaN
 4      Медь Цена меди на бирже   3.07      -0.01         -0.31        NaN,
                                         Название      Цена   Изменение  \
 0                                  ВТБ Акции ВТБ  0.032780   -0.000655
 1                         Газпром Акции газпрома    156.56   -2.650000
 2                            Лукойл Акции Лукойл   4 035.5  -88.000000
 3                        Роснефть Акции Роснефти    358.60  -13.900000
 4                       Сбербанк Акции Сбербанка    203.76   -3.880000
 5           Сургутнефтегаз Акции Сургутнефтегаза    33.505   -0.540000
 6                      Норникель Акции Норникель    18 884 -266.000000
 7                       Аэрофлот Акции Аерофлота     55.92   -1.660000
 8                    Северсталь Акции Северсталь  1 036.40  -26.400000
 9                    Транснефть Акции Транснефть   133 800 -700.000000
 10             Ростелеком Курс акций ростелекома     91.77   -2.060000
 11                      РУСАЛ Акции РУСАЛ (RUAL)    30.910   -0.770000
 12      Детский мир iDreamSky Technology Limited    111.38   -3.120000
 13             Петропавловск Акции Петропавловск     25.65   -0.800000
 14   PayPal Holdings, Inc. PayPal Holdings, Inc.    198.00   -2.430000
 15                        НМЛК Акции НЛМК (NLMK)   176.080   -4.540000
 16                    Алроса Акции АЛРОСА (ALRS)    71.270   -3.190000
 17                    Магнит Акции Магнит (MGNT)   4 694.5  -89.500000
 18                  М.видео Акции М.видео (MVID)    672.70   -6.900000
 19    Газпром нефть Акции "Газпром нефть" (SIBN)    273.55   -2.650000
 20                        НМТП Акции НМТП (NMTP)    7.8500   -0.130000
 21            Полиметалл Акции Полиметалл (POLY)  1 744.20  -26.100000
 22        Полюс Золото Акции Полюс Золото (PLZL)  16 050.5 -448.500000
 23                  НОВАТЭК Акции НОВАТЭК (NVTK)  1 006.60  -25.400000
 24                РусГидро Акции РусГидро (HYDR)    0.7206   -0.004100
 25                Татнефть Акции Татнефть (TATN)    406.70  -13.800000
 26        АФК Система Акции АФК "Система" (AFKS)    24.499   -0.141000
 27                                 МТС Акции МТС    312.30   -3.900000
 28                Башнефть Акции Башнефть (BANE)   1 507.5  -43.500000
 29                    Яндекс Акции Яндекс (YNDX)   4 528.0  -72.800000
 30  X5 Retail Group Акции X5 Retail Group (FIVE)  2 757.50  -67.000000
 31                  ФСК ЕЭС Акции ФСК ЕЭС (FEES)   0.18550   -0.003640
 32                      Мечел Акции Мечел (MTLR)     56.49   -1.320000
 33                МосБиржа Акции МосБиржа (MOEX)    139.03   -2.150000
 34                                      ИнтерРАО  5.031500   -0.145500
 35                                       MAIL.RU  2 111.00  -40.000000
 36                                          Киви   1 128.0  -30.500000
 37                                      LENTA.RU    216.20   -2.300000
 38                                      Тинькофф     25.80    0.000000

     Изменение(%)  Обновлено
 0      -1.959025        NaN
 1      -1.660000        NaN
 2      -2.100000        NaN
 3      -3.730000        NaN
 4      -1.870000        NaN
 5      -1.586000        NaN
 6      -1.000000        NaN
 7      -2.880000        NaN
 8      -2.480000        NaN
 9      -1.000000        NaN
 10     -2.200000        NaN
 11     -2.431000        NaN
 12     -2.720000        NaN
 13     -3.020000        NaN
 14     -1.210000        NaN
 15     -2.514000        NaN
 16     -4.284000        NaN
 17     -1.900000        NaN
 18     -1.020000        NaN
 19     -0.960000        NaN
 20     -1.629100        NaN
 21     -1.470000        NaN
 22     -2.700000        NaN
 23     -2.460000        NaN
 24     -0.565800        NaN
 25     -3.280000        NaN
 26     -0.572000        NaN
 27     -1.230000        NaN
 28     -2.800000        NaN
 29     -1.600000        NaN
 30     -2.370000        NaN
 31     -1.924500        NaN
 32     -2.280000        NaN
 33     -1.520000        NaN
 34     -2.810508        NaN
 35     -1.860000        NaN
 36     -2.600000        NaN
 37     -1.050000        NaN
 38      0.000000        NaN  ,
                                              Название      Цена  Изменение  \
 0                                 IBM Corp. IBM Corp.    108.71      -1.85
 1                           Microsoft Microsoft Corp.    208.81      -4.44
 2                                   APPLE Акции APPLE    115.22      -1.38
 3                                 Toyota Акции Тойоты    130.20      -2.26
 4                                Yandex Акции яндекса     57.80      -1.73
 5                    Volkswagen Курс акций Volkswagen    126.82      -5.20
 6                   Amazon.com, Inc. Amazon.com, Inc.  3 255.92     -30.41
 7                 Intel Corporation Intel Corporation     45.03      -0.61
 8                         Boeing Акции Boeing Company    156.10       0.86
 9   Pfizer, Inc. Common Stock Pfizer, Inc. Common ...     36.90      -0.53
 10                          Coca-Cola Акции Coca-Cola     49.15      -0.75
 11                       Netflix Акции Netflix (NFLX)    485.07      -3.86
 12  Advanced Micro Devices, Inc. Advanced Micro De...     79.00       0.12
 13              NVIDIA Corporation NVIDIA Corporation    529.65      -6.22
 14                Walt Disney Акции Walt Disney (DIS)    121.12      -2.19
 15                       Facebook Цена акций Facebook    280.01      -3.28
 16                          Tesla Цены на акции Тесла    418.18      -6.50
 17                          Twiter Цена акций твитера     50.74      -0.53
 18                  Hasbro Цена на акции Hasbro, Inc.     83.50      -1.60
 19                                             Сименс    102.08      -4.04
 20                                        Master Card    312.75      -4.36
 21                                            Moderna     70.00      -0.67
 22                                               Qiwi     14.39      -0.56
 23                      Макдональдс Акции Макдональдс    218.26      -4.71
 24                                               ZOOM    545.50       6.51

     Изменение(%)  Обновлено
 0          -1.67        NaN
 1          -2.08        NaN
 2          -1.18        NaN
 3          -1.71        NaN
 4          -2.91        NaN
 5          -3.94        NaN
 6          -0.93        NaN
 7          -1.34        NaN
 8           0.55        NaN
 9          -1.42        NaN
 10         -1.50        NaN
 11         -0.79        NaN
 12          0.15        NaN
 13         -1.16        NaN
 14         -1.78        NaN
 15         -1.16        NaN
 16         -1.53        NaN
 17         -1.03        NaN
 18         -1.88        NaN
 19         -3.81        NaN
 20         -1.37        NaN
 21         -0.95        NaN
 22         -3.75        NaN
 23         -2.11        NaN
 24          1.21        NaN  ,
                                    Название       Цена Изменение  \
 0                                   S&P 500      3 337       -29
 1   Фьючерс РТС Курс фьючерса на индекс РТС   1 091.23    -40.13
 2                       Индекс Dow 30 (DJI)  27 463.20      0.00
 3                      РТС Курс индекса РТС    108 790    -3 510
 4                                     DAX30   11 674.6    -338.0
 5                                      FTSE   7 174.32      0.00
 6                                    CAC 40    4 585.6     -82.6
 7                                Nasdaq 100  11 599.00      0.00
 8                              Russell 2000   1 590.48      0.00
 9                                   IBEX 35    6 513.9    -122.1
 10                               Nikkei 225     23 251      -110
 11                            Euro Stoxx 50    2 976.4     -50.4
 12                              S&P/ASX 200    6 033.5      -3.0
 13                               Index MOEX    271 500    -5 425
 14                                     MSCI     345.00    -11.90

     Изменение(%)  Обновлено
 0          -1.00        NaN
 1          -3.55        NaN
 2           0.00        NaN
 3          -3.00        NaN
 4          -2.80        NaN
 5           0.00        NaN
 6          -1.80        NaN
 7           0.00        NaN
 8           0.00        NaN
 9          -1.80        NaN
 10         -0.00        NaN
 11         -1.70        NaN
 12         -0.00        NaN
 13         -2.00        NaN
 14         -3.33        NaN  ,
                                             Название       Цена  Изменение  \
 0                         EURUSD Курс евро к доллару    1.17368   -0.00445
 1   AUDUSD Курс австралийского доллара к доллару сша    0.70779   -0.00447
 2                        GBPUSD Курс фунта к доллару    1.29603   -0.00699
 3       USDCAD Курс канадского доллара к доллару сша    1.32546    0.00636
 4                         USDJPY Курс йены к доллару  104.28500   -0.26000
 5         AUDCAD Australian Dollar / Canadian Dollar    0.93813   -0.00148
 6                          EURCHF Euro / Swiss Franc    1.06978   -0.00108
 7                  EURGBP Euro / Great Britain Pound    0.90544    0.00133
 8                         EURJPY Euro / Japanese Yen  122.40100   -0.76300
 9          GBPJPY Great Britain Pound / Japanese Yen  135.15400   -1.07400
 10             NZDUSD New Zealand Dollar / US Dollar    0.66623   -0.00374
 11                    USDCHF US Dollar / Swiss Franc    0.91147    0.00255
 12         USDCNH Курс китайского юаня к доллару США    6.71700   -0.00100

     Изменение(%)  Обновлено
 0       -0.37772        NaN
 1       -0.62758        NaN
 2       -0.53645        NaN
 3        0.48215        NaN
 4       -0.24900        NaN
 5       -0.15751        NaN
 6       -0.10085        NaN
 7        0.14711        NaN
 8       -0.61900        NaN
 9       -0.78800        NaN
 10      -0.55823        NaN
 11       0.28055        NaN
 12      -0.01490        NaN  ,
                                              Название       Цена   Изменение  \
 0                               Bitcoin Курс биткоина  13 324.20 -306.900000
 1          Litecoin Курс лайткоин к доллару (LTC/USD)     57.137   -0.802000
 2   BitcoinCash Курс Биткоин кеш к доллару США (BC...     271.44    7.450000
 3                                           Dash Dash     68.015   -2.667000
 4                                       Ripple Ripple      0.248   -0.005000
 5                                   Ethereum Ethereum     387.02  -16.450000
 6                                         Zcash (ZEC)     59.038   -2.155000
 7                                           NEO (NEO)       16.3   -0.700000
 8                                           EOS (EOS)     2.6457   -0.025800
 9                                          TRON (TRX)   0.026903   -0.000085
 10                                             Monero     130.31   -3.620000
 11                                               IOTA    0.27074   -0.006270
 12                       ETC/USD эфириум классик, ETC     5.6148   -0.035700

     Изменение(%)  Обновлено
 0      -2.250000        NaN
 1      -1.384000        NaN
 2       2.820000        NaN
 3      -3.773000        NaN
 4      -1.887000        NaN
 5      -4.080000        NaN
 6      -3.522000        NaN
 7      -4.100000        NaN
 8      -0.965700        NaN
 9      -0.314955        NaN
 10     -2.700000        NaN
 11     -2.263460        NaN
 12     -0.631800        NaN  ]

### Задание 4

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [15]:
import pandas as pd

In [16]:
ratings = pd.read_csv("ratings.csv")

In [18]:
ratings.loc[ratings["rating"] < 2, "class"] = "низкий"
ratings.loc[ratings["rating"] <= 4, "class"] = "средний"
ratings.loc[ratings["rating"] > 4, "class"] = "высокий"
ratings.head()

   userId  movieId  rating  timestamp    class
0       1        1     4.0  964982703  средний
1       1        3     4.0  964981247  средний
2       1        6     4.0  964982224  средний
3       1       47     5.0  964983815  высокий
4       1       50     5.0  964982931  высокий

### Задание 5

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [20]:
import pandas as pd
dt = pd.read_csv('keywords.csv')

In [21]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [22]:
d = {}
for region in geo_data:
    gorod = geo_data[region]
    d.update({key:value for key,value in zip(gorod,[region for i in gorod])})

In [24]:
dt['region'] = dt['keyword'].map(d)
dt['region'] = dt['region'].fillna('undefined')
dt.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

### Задание 6

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [26]:
import pandas as pd

In [27]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [28]:
dt = ratings.merge(movies, on=["movieId"], how='inner')

In [29]:
years = []
for year in range(1950,2010):
    years.append(year)

In [30]:
num = len(years)
j = []
for i in range(1,num+1):
    j.append(i)

In [31]:
def year_pr(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [33]:
dt['year'] = dt['title'].apply(year_pr)

In [34]:
ddt = dt.pivot_table(index=['year'], values = 'rating', aggfunc='mean')
sort_ddt = ddt.sort_values(by = ['rating'], ascending = False)
sort_ddt.head()

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293